.heading{
    text-align: center;
    flex:1fr 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 50px;
    margin-left:40px;
    color:blueviolet;
    text-align: center;
}
.body{
    background: rgb(255, 248, 219);
    animation: myanimation 10s infinite;
}
@keyframes myanimation{
    0%{background-color: rgb(93, 246, 246);}
    25%{background-color: burlywood;}
    50%{background-color: rgb(241, 218, 67);}
    75%{background-color: bisque;}
    100%{background-color: rgb(100, 247, 247);}
}
.grids{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hobbies{
    background: rgb(48, 68, 99);
    color:rgb(247, 18, 18);
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:20px ;
    height:50%;
    border-radius:65px ;
    padding-top: 28px;
}

.intro{
    margin-left: 20px;
    display: grid;
    background:rgb(255, 199, 237);
    color:white;
    text-align:center;
    color:rgb(48, 68, 99);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:100%;
    padding-top: 9px;
    padding-bottom: 15px;

}

.profile{
    height:300px;
    width:300px;
    width: 50%;   
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    border-radius:50%;
    animation: myanim 3s infinite;    
}
.profile:hover{
    opacity:0.8;
}
@keyframes myanim{
    0%{rotate:0deg;}
    35%{rotate:73deg;}
    70%{rotate:280deg;}
    90%{rotate:0deg;}
    100%{rotate:0deg;}
}
.lis{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(92, 205, 118);
    height:300px;
    width:auto;
    margin-left: 20px;
    color:blueviolet;
    border-radius:50%;
    padding: 20px;
    
    font-size: 19px;
}
#h1{
    text-align: center;
    font-size: 27px;
    padding-top: 45px;
    font-weight:bolder ;
    padding-right: 30px;
    padding-left:30px ;
}
.logo{
    height: 60px;
    width:60px;

    border-radius: 50%;
    display: inline-block;
    
}
#display{
    display: grid;
    grid-row: 60px 80px;
    font-size: 40px;
    margin-right: 20px;
    color: black;
    display: inline;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}
.ki{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}
.l1{
    display: inline;
}
.logo:hover{
    height:50px;
    width:auto;
    cursor: grab;
}